* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 80px;
}
h2,
h4,
p,
a {
  font-family: "Poppins", sans-serif;
}
p {
  color: #726f6f;
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* focus part start */
.header-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}
.div-line {
  width: 5px;
  border-radius: 8px;
  height: 128px;
  background-image: linear-gradient(#ffad5a, #ff5959);
  margin-right: 20px;
}
.text-part {
  width: 60%;
  margin-top: 10%;
}
.text-part-header {
  font-size: 60px;
  font-weight: 500;
  font-family: "Yeseva One", cursive;
  padding: 8px 0;
}
.text-part-para {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
.text-color {
  color: #ff5959;
}
.img-part {
  width: 50%;
  padding-left: 10%;
}
.img-part img {
  width: 100%;
}
.button-link {
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 4%;
  padding: 15px 40px;
  background-color: #ffad5a;
  color: rgb(250, 248, 246);
}
/* mission part start */
.mission-para {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}
.card-group {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  font-family: "Poppins", sans-serif;
}
.card {
  width: 32%;
  border-radius: 30px;
  text-align: left;
  padding: 13px 25px;
  box-shadow: -9px -1px 23px -31px rgba(0, 0, 0, 0.1);
}
.card img {
  width: 141px;
}
.card h4 {
  margin-top: 5px;
  font-size: 24px;
  font-weight: 600;
}
.card p {
  font-size: 16px;
  margin-top: 20px;
  color: #424242;
}
.mission-color {
  background-color: #bfdde0;
}
.vission-color {
  background-color: #e7cdcd;
}
.goals-color {
  background-color: #fff4d6;
}
/* Develop section start*/
.img-container {
  width: 50%;
  padding-right: 8%;
}
.img-container img {
  width: 100%;
}
.text-container {
  width: 50%;
  margin-right: 30px;
}
.text-container-header {
  font-size: 36px;
  margin-top: 15px;
  font-weight: bold;
}
.text-container-para {
  margin-top: 15px;
  text-align: justify;
}
.develop-img {
  padding-left: 4%;
}
.develop-bg {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: left;
  background-position-x: 40px;
}
.global-bg {
  background-image: url(./images/shapes/shape-6.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: right;
  background-position-y: 230px;
  background-position-x: 90%;
}
/* mobile apps */
.mobile-apps-para {
  text-align: center;
  font-size: 48px;
  margin-bottom: 15px;
}
/* footer start */
footer {
  background: #0b0d17;
  padding: 2%;
}
.footer-div {
  text-align: center;
}
.footer-header {
  font-family: "Lobster", cursive;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-text-color {
  color: white;
}
.footer-para {
  font-style: italic;
}
